.ConnectionMessage h1{
    font-size: 54px;
    color: #000;
    font-weight: 700;
    line-height: 59.4px;
}

.ConnectionMessage p{
    color: rgb(112, 112, 112);
}

.ConnectionApproach h2{
    font-size: 40px;
    font-weight: 700;
}

.ConnectionMessageWork h2{
    font-size: 40px;
    font-weight: 700;
}

.ConnectionMessageWork p{
    color: rgb(112, 112, 112);
}

.ConnectionMessageWork p {
    color: #707070;
    font-size: 17px;
}

/* .ConnectionMessageWork .cardContainer{
    height: 380px;
} */

.ConnectionMessageWork .cardContainer p{
    font-size: 16px;
}

.ConnectionMessageWork .card{
    background-color: #0d6efd;
}

.ConnectionMessageWork .cardContainer:hover{
    transform: translateY(-10px);
    transition: .2s ease-in;
}

.ConnectionMessageWhy h2{
    font-size: 40px;
    font-weight: 700;
}