.LeadGenService h2{
    font-size: 40px;
    color: #000;
    font-weight: 700;
}


.LeadGenService p{
    color: #707070;
    font-size:18px;
}

@media (max-width:575px){
    .LeadGenService h2{
        font-size: 33px !important;
    }
}