.Clients h2{
    font-size: 40px !important;
    color: #000;
    font-weight: 700;
    line-height: 45px;
}

.Clients p{
    color: #707070;
    font-size: 17px;
}

@media (max-width:575px){
    .Clients h2{
        font-size: 33px !important;
    }
}