.TrustedBy h2{
    font-size: 40px;
    color: #000;
}

.TrustedBy .react-multi-carousel-track{
    align-items: center !important;
}

.TrustedBy .react-multi-carousel-item{
    text-align: center !important;
    width: 300px !important;
}